@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.navbar {
    background-color: rgb(34, 34, 34);
    width: 100% !important;
    position: fixed !important;
    margin: -0.5rem;
}

#logo {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 2rem;
    position: 20%;
}

nav li {
    display: inline-block;
    margin: 0 0 0 2rem;
    position: 60%;
}

#lista {
    position: absolute;
    top: 15%;
    left: 5%;
}

a {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

a:hover {
    color: #00D9E6;
    border-bottom: 1px, solid, #00D9E6;
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}